<div class="container-fluid" style="background-color: hsla(88, 50%, 53%, 0.76)">

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="table-responsive">
        <div>
          <table class="table table-striped">
            <thead>
            <tr class="row">
              <th>Tên loại</th>
              <th>Hình ảnh minh họa</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" *ngFor="let element of productTypeList">
              <td><h1>{{element.typeName}}</h1></td>
              <td><img src="{{element.url}}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="clearfix"></div>

  <div style="text-align: center">
    <div class="row">
      <div class="col-sm-12">
        <h3 style="color: #fff; font-size: 45px; padding: 75px 0 25px 0 ; font-family: Arima Madurai, cursive">Độ dày của nệm KYMDAN</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p><span style="font-size: 25px; color: #fff">
      <span style="font-family: arial, helvetica, sans-serif">Nệm&nbsp;<strong>(mattress)</strong>&nbsp;<strong>KYMDAN
        Deluxe</strong>&nbsp;có cấu trúc gồm các lỗ vuông to ở phần chân nệm trong
        khi bề mặt nệm là các lỗ tròn nhỏ được phân bố đều, rộng khắp bề
        mặt giúp gia tăng tác dụng của sự thông thoáng nhờ tăng cường diện
        tích tiếp xúc.
      </span></span>
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div align="center" style="padding-top: 20px; color: #fff">
          <img src="assets/do_day_nem_kymdan.gif" alt="" style="width: 50%;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div align="center" style="padding: 35px 0 15px 0; color: #fff">
    <span style="font-size: 25px">
      <span style="font-family: comic sans ms, cursive;">
        <span
          style="font-family: arial, helvetica, sans-serif"><strong>Các kích thước độ dày của Nệm&nbsp;KYMDAN</strong>
        </span>
      </span>
    </span><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div align="center">
          <img src="assets/do_rong_nem_kymdan.gif" alt="" style="width: 50%;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div align="center" style="padding: 35px 0 25px 0; color: #fff">
  				<span style="font-size: 25px;"> <span
            style="font-family: comic sans ms, cursive;"> <span
            style="font-family: arial, helvetica, sans-serif;"> <strong>Các
  								kích thước chiều ngang (rộng) của Nệm&nbsp;KYMDAN</strong>
  					</span>
  				</span>
  				</span><br>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
