<div class="container-fluid">
  <hr style="height: 2px; background-color: green">

  <div>
    <div class="row" style="font-size: 17px">
      <div class="col-sm-5">
				<span class="text-uppercase" style="font-size: 18px;"> <strong
          style="color: green">Công ty TNHH MTV Khai Nguyen -
						KYMDAN</strong>
				</span><br><strong>Địa chỉ :</strong> 33b A Ma Khê, P. Tân Lập, Tp. Buôn Ma Thuột, Tỉnh Đắk Lắk<br>
        <strong>ĐT :</strong> 0915 816 129<br> <strong>Email : </strong>
        <a href="mailto:contactus@kymdan.com" rel="nofollow">kymdan_khainguyen@gmail.com</a><br>
        <strong>Website : </strong><a href="index.html"><strong>www.kymdan_khainguyen.com</strong></a>
      </div>

      <div class="col-sm-7" style="padding-bottom: 15px">
        Giấy chứng nhận đăng ký doanh nghiệp số ..... do Sở Kế Hoạch
        và Đầu Tư TP.HCM cấp ngày .. tháng .. năm ......<br>
        Giấy phép thiết lập website số .../GP-BC do Bộ Văn hóa - Thông tin
        cấp ngày ......<br>(<i>căn cứ vào Nghị định
        97/2008/NĐ-CP ngày 28-08-2008 và Thông tư số 14/2010/TT-BTTTT ngày
        29-06-2010</i>)<br> Chịu trách nhiệm quản lý nội dung: Bà Lê Thị Phương Thảo, ĐT: 0915 816 129<br>
        Version 1.0
      </div>
    </div>
  </div>
</div>
