<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p style="text-align: center">
        <span><img alt="" class="img-responsive;img-center" src="assets/title_dac_tinh_nem.png"
                   style="width: 75%"></span>
        <span><img alt="" class="img-responsive;img-center" src="assets/dacTinh.PNG" style="width: 65%"></span>
      </p>
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-sm-12">
      <h3 style="padding-bottom: 15px;">
				<span style="font-size: 20px">
          <span align="center" style="color: green;">&nbsp;Đặc tính nệm mousse cao su KYMDAN</span>
				</span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p style="text-align: justify; color: green;">
				<span style="font-size: 16px;">Tất cả các sản phẩm&nbsp; <strong>nệm
						(mattress)&nbsp;<strong>KYMDAN</strong>
				</strong>&nbsp; được cấu tạo gồm:
				</span>
      </p>
      <p style="text-align: justify; color: green;">
				<span style="font-size: 16px;"> - Phần mousse cao su KYMDAN
					(thường gọi là thân nệm, ruột nệm) làm hoàn toàn từ &nbsp;latex cao
					su &nbsp;thiên nhiên, ở dạng bọt (sponge, mousse), có chất lượng
					độc đáo với 15&nbsp;ưu điểm nổi bật&nbsp;mà chưa một sản phẩm tương
					tự nào trên thế giới đạt được. </span>
      </p>
      <p style="text-align: justify; color: green;">
				<span style="font-size: 16px;"> - Phần vỏ bọc&nbsp;nệm bao
					ngoài phần mousse từ chất liệu thun Jersey và các chất liệu vải
					ngoại nhập khác, được thiết kế, may đo ôm sát từng đường nét thân
					nệm. Vỏ&nbsp;bọc nệm&nbsp;không những không làm thay đổi các tính
					năng ưu việt của mousse cao su KYMDAN, còn góp phần mang lại cho
					khách hàng cảm giác trải nghiệm sản phẩm tốt nhất, tăng cường giữ
					vệ sinh, bảo quản nệm. </span>
      </p>
      <p style="text-align: justify; color: green;">
				<span style="font-size: 16px;"> - Ngoài ra, để điều kiện bảo
					quản sản phẩm hoàn hảo nhất, Quý khách nên sử dụng nệm cùng với Tấm
					an toàn vệ sinh nệm KYMDAN, được may bằng vải chần gòn, 04 góc được
					may dây gút&nbsp;để cố định trải trên bề mặt nệm (dưới lớp drap
					(ga) phủ trang trí), kích thước tương ứng với kích thước bề mặt
					nệm.&nbsp;<strong>Tấm an toàn vệ sinh nệm KYMDAN </strong> là một
					phương pháp hữu hiệu cách ly nệm khỏi các nguồn nhiễm bẩn có thể
					phát sinh, nhất là khi sử dụng chung nệm ở các cơ sở lưu trú trong
					các trường hợp đi du lịch, công tác.
				</span>
      </p>
      <p style="text-align: justify; color: green;">
				<span style="font-size: 16px;"> <strong>Nệm
						(mattress) KYMDAN </strong>thân thiện với môi trường, an toàn cho người sử
					dụng, mềm mại, đàn hồi. Nệm (mattress) KYMDAN cho bạn một sự nâng
					đỡ tuyệt hảo ở mọi tư thế nằm, tạo giấc ngủ sâu và sảng khoái.
				</span>
      </p>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div align="center">
        <img src="assets/product1.jpg" style="width: 33%;">
        <img src="assets/product2.jpg" style="width: 35%;">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div align="center" style="padding: 10px; color: #fff">
					<span style="font-size: 20px;"> <span
            style="font-family: comic sans ms, cursive;"> <span
            style="font-family: arial, helvetica, sans-serif;"> <strong
            style="color: green; font-size: 20px;">Nệm (mattress)
									mousse cao su&nbsp;KYMDAN</strong>
						</span>
					</span>
					</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div align="center">
        <img src="assets/product3.gif" style="width: 60%;">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div align="center" style="padding-top: 20px; color: #fff">
					<span style="font-size: 16px;"> <span
            style="font-family: comic sans ms, cursive;"> <span
            style="font-family: arial, helvetica, sans-serif;"> <strong
            style="color: green; font-size: 16px;">Mousse nệm
									KYMDAN - Chịu lực kéo đứt, chịu lực xé rách cao</strong>
						</span>
					</span>
					</span> <br> &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div align="center">
        <img src="assets/product6.gif" style="width: 33%;">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div align="center" style="padding-top: 20px; color: #fff">
					<span style="font-size: 16px;"> <span
            style="font-family: comic sans ms, cursive;"> <span
            style="font-family: arial, helvetica, sans-serif;"> <strong
            style="color: green; font-size: 16px;">Nệm KYMDAN -
									không xẹp (lún, trũng), lực chịu nén ép, độ đàn hồi cao, phục
									hồi hoàn toàn về hình dạng và kích thước ban đầu ngay lập tức.</strong>
						</span>
					</span>
					</span>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
