@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

button {
  background-color: green;
  color: white;
  width: 100px;
  height: 35px;
  border: none;
}

button:hover {
  background-color: orange;
}

mat-form-field {
  width: 100%;
}
